HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IDEs ###
.idea
*.iws
*.iml
*.ipr
.vscode/
.classpath
.factorypath
.project
.settings

### Frontend ###
frontend/node_modules/
frontend/dist/

### Local secrets ###
.env
*.local.yml

.DS_Store
